.admin_asidebar ul li a{

    color: #737791 ;
}

.admin_asidebar a {

    text-decoration: none;
}

.admin_asidebar button{

    color: #737791;
}

.search-section {
  padding: 30px 0;
}

.search-wrapper {
  background: linear-gradient(90deg, #0b5ed7, #0a58ca);
  padding: 18px;
  border-radius: 12px;
}

.search-input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.search-icon {
  background: transparent;
  border: none;
  padding-left: 16px;
  font-size: 18px;
  color: #0b5ed7;
}

.search-input {
  border: none;
  box-shadow: none;
  padding: 14px 12px;
  font-size: 15px;
}

.search-input:focus {
  box-shadow: none;
}

.search-btn {
  background: #ffffff;
  color: #0b5ed7;
  font-weight: 600;
  padding: 0 28px;
  border: none;
  border-left: 1px dashed #cbd5e1;
  border-radius: 0;
}

.search-btn:hover {
  background: #f1f5f9;
  color: #0b5ed7;
}
