/* Search bar section */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1661d4;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 30px 40px -20px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.filter-section {
  padding: 0.3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.filter-item input{
  min-width: 40vw;
}

.search-input-field {
  gap: 0.5rem;
  padding: 0.5rem;
}

.search-btn {
  background-color: #fff;
  color: #1163c7;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid transparent;
}

.search-btn:hover {
  background-color: #1163c7;
  color: #fff;
  border: 1px solid white;
}

.bookings-page table thead.ant-table-thead tr th{

  background-color: #fff !important;
  color: #1163c7;
}

:where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{

  display: none;
}


.export-section button{


  border: 1px solid #B1B1B1;
  font-size: 18px;

}

.datepiker{

    border: 1px solid #B1B1B1;
    color: #333;
}
/* Bookings page section */
.bookings-page {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
}

.export-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  gap: 10px;
}

.export-btn {
  background: none;
  border: 1px solid #ccc;
  color: #333;
}

.export-btn:hover{

  color: #333;
}

/* Table dropdowns */
.bookings-table .ant-select {
  width: 140px;
}

.dropdown-status .ant-select-selector,
.dropdown-substatus .ant-select-selector,
.dropdown-vendor .ant-select-selector,
.dropdown-venue .ant-select-selector {
  height: 32px !important;
  border-radius: 4px;
}

.bookings-table .ant-table-cell {
  vertical-align: middle;
}
