/* Search bar section */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1661d4;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 30px 40px -20px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.search-input-field {
  gap: 0.5rem;
  padding: 0.5rem;
  min-width: 40vw;
  max-width: 40vw;
}

.export-btn {
  background: none;
  border: 1px solid #ccc;
  color: #333;
  font-weight: bold;
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
}

.export-btn:hover {
  background-color: #1163c7;
  color: #fff;
}

.filter-item {
  min-width: 40vw;
}


.coupon-page table thead.ant-table-thead tr th{

  background-color: #fff !important;
  color: #1163c7 !important;
}



:where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{

  display: none;
}

/* Coupon page section */
.coupon-page {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
}

.coupon-table .ant-table-cell {
  vertical-align: middle;
}

/* Status colors can be handled inline as in component */
