.login-container {
  height: 100vh;
  background:url('../assets/loginBgImage.png') no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.login-card {
  background-color: white;
  border-radius: 8px;
  padding: 2.5rem;
  max-width: 640px;
  height: fit-content;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.login-logo {
  width: fit-content;
  height: fit-content;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* For Select Role label */
.select-role-label .ant-form-item-label>label {
  color: #1163C7;
  font-weight: 600;
  font-size: 18px;
}

/* For User ID label */
.user-id-label .ant-form-item-label>label {
  color: #1163C7;
  font-weight: 600;
  font-size: 18px;
}

/* For Password label */
.password-label .ant-form-item-label>label {
  color: #1163C7;
  font-weight: 600;
  font-size: 18px;
}


.forgot-link {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-link a {
  font-size: 0.85rem;
  color: #0e74d4;
  text-decoration: underline;
}

.login-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  font-family: sans-serif;
  background-color: #1163c7;
  border-radius: 4px;
  color: #ffffff;
  width: 240px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
}