/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


li {

  list-style-type: none !important;
}

.blue_btn button {

  background-color: #1163C7;
  color: white;
  font-weight: 500;
  /* border: 1px solid transparent; */
  padding: 10px 30px !important;
  font-size: 16px;
  border-radius: 6px !important;

}

.blue_btn button:hover{


  font-weight: 600;
  transition: .3s ease-in-out;
  background-color: #0654b2 !important;
}

.add_btn {

  background-color: #0654b2;
  color: white;
}
.add_btn:hover{

  transition: .3s ease-in-out;
   background-color: #0654b2 !important;
  color: white !important;

}
/* .custom_nav {

  background-color: #0654b2 !important;
} */

/* header h3 {

  color: white !important;
}

.vendor-sidebar {

  background-color: #0654b2;
  border-radius: 0 0 32px 32px;
} */



.sidebar-menu-item ul li:hover {

  list-style: none !important;
}

.sidebar-nav ul li {

  
  list-style: none !important;

}
.sidebar-menu-item.active {
    background: linear-gradient(135deg, #1163C7, #0ea5e9);
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(17, 99, 199, 0.3);
}


ul li {

  list-style-type: none !important;
}

a {

  text-decoration: none !important;
  color: #737791 !important;
}

.close_btn {

  background-color: #0654b2 !important;
  color: white !important;
  border: none !important;
}


 table thead.ant-table-thead tr th{

  background-color: #fff !important;
  color: #1163c7 !important;
}



:where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-16dneet).ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{

  display: none;
}
/* .export-section{
  margin-bottom: unset !important;
  padding: 20px 0 !important;
} */
.export-section .export-btn {

  /* background-color: #ccc !important; */
  color: #dcd5d5;
  box-shadow: none;
  font-size: 18px;
  border: 1px solid #d9d9d9 !important;
}

.export-section .export-btn:hover{

  background-color: white !important;
  color: #0654b2;
}

span.ant-select-selection-item {
  color: #0654b2;
}