.venue-form {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

.section-title {
  font-size: 18px;
  color: #1163C7;
  margin: 24px 0 8px;
}

.remove-btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.remove-btn {
  background-color: #1163C7;
  color: #fff;
  border-radius: 6px;
  height: 36px;
}

.map-placeholder,
.map-preview {
  height: fit-content;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-actions{
    display: flex;
    justify-content: flex-end;
}

.update-btn {
  background-color: #1163C7;
  color: #fff;
  height: 40px;
  width: 180px;
}
