.amenities-container {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
}

.header {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.amenities-form {
  display: flex;
  gap: 7rem;
  align-items: center;
}

/* Sport Name input field */
.input-box {
  flex: 1;
  min-width: 28vw;
  height: 56px;
  border-radius: 12px;
}

/* Button styling */
.add-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}


 table thead.ant-table-thead tr th{

  background-color: #fff !important;
  color: #1163c7 !important;
}
.add-button {
  padding: 20px;
  margin-top: 20px;
   font-size: 18px;
   font-weight: 500 !important;
      background-color: #1163c7 !important;
}

.upload-button {
  font-weight: 500;
  font-size: 18px;
   padding: 20px;
   background-color: #1163c7 !important;
}

.amenity-item {
  padding-left: 8px;
  font-size: 16px;
  color: #000;
}

.amenity-row {
  border-bottom: 1px solid #f0f0f0;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}